---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Planes from '../components/Planes.astro';
import PorQueElegirnos from '../components/PorQueElegirnos.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Alta Maquina | Servicio Técnico y Desarrollo Web">
  <Header />
  
  <main class="flex-1 pt-16">
    <Hero />
    <Servicios />
    <Planes />
    <PorQueElegirnos />
    <Contacto />
  </main>
  
  <Footer />
</Layout>